# Dependencies
node_modules/

# Build
dist/

# Astro
.astro/

# Env
.env
.env.*
!.env.example

# OS / editor
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/*
!.vscode/extensions.json

# Debug
npm-debug.log*
pnpm-debug.log*
